apiVersion: jenkins.io/v1alpha2
kind: Jenkins
metadata:
  name: build
spec:
  configurationAsCode:
    configurations: 
    - name: jenkins-casc-configs
    secret:
      name: ""
  groovyScripts:
    configurations:
    - name: jenkins-init-scripts
    secret:
      name: ""
  jenkinsAPISettings:
    authorizationStrategy: createUser
  master:
    basePlugins:
    - name: kubernetes
      version: "1.30.1"
    - name: workflow-job
      version: "2.41"
    - name: workflow-aggregator
      version: "2.6"
    - name: git
      version: "4.8.1"
    - name: job-dsl
      version: "1.77"
    - name: configuration-as-code
      version: "1.51"
    - name: kubernetes-credentials-provider
      version: "0.20"
    - name: "rebuild"
      version: "1.32"
    plugins:
    - name: blueocean
      version: "1.24.8"
    - name: depgraph-view
      version: "1.0.5"
    - name: ansicolor
      version: "1.0.0"
    - name: parameter-separator
      version: "1.3"
    volumes:
    - name: seed-jobs
      configMap:
        name: jenkins-seed-jobs
        defaultMode: 420
    - name: common-lib-vars
      configMap:
        name: jenkins-common-lib-vars
        defaultMode: 420
    - name: build-configs
      configMap:
        name: jenkins-build-configs
        defaultMode: 420
    disableCSRFProtection: false
    containers:
    - name: jenkins-master
      image: jenkins/jenkins:2.277.4-lts-alpine
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - name: seed-jobs
          mountPath: /var/jenkins_home/seeds
        - name: common-lib-vars
          mountPath: /var/jenkins_home/common-lib/vars
        - name: build-configs
          mountPath: /var/jenkins_home/build-configs
      livenessProbe:
        failureThreshold: 12
        httpGet:
          path: /login
          port: http
          scheme: HTTP
        initialDelaySeconds: 100
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 5
      readinessProbe:
        failureThreshold: 10
        httpGet:
          path: /login
          port: http
          scheme: HTTP
        initialDelaySeconds: 80
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 1
      resources:
        limits:
          cpu: 1500m
          memory: 3Gi
        requests:
          cpu: "1"
          memory: 500Mi
# #
# # Uncomment the backup section below to enable backup (for local development only)
# #
#     - name: backup # container responsible for the backup and restore
#       env:
#       - name: BACKUP_DIR
#         value: /backup
#       - name: JENKINS_HOME
#         value: /jenkins-home
#       - name: BACKUP_COUNT
#         value: "3" # keep only the 2 most recent backups
#       image: communitybuild3/jenkins-backup #virtuslab/jenkins-operator-backup-pvc:v0.1.0 # look at backup/pvc directory
#       imagePullPolicy: IfNotPresent
#       volumeMounts:
#       - mountPath: /jenkins-home # Jenkins home volume
#         name: jenkins-home
#       - mountPath: /backup # backup volume
#         name: jenkins-data
#   backup:
#     containerName: backup # container name is responsible for backup
#     action:
#       exec:
#         command:
#         - /home/user/bin/backup.sh # this command is invoked on "backup" container to make backup, for example /home/user/bin/backup.sh <backup_number>, <backup_number> is passed by operator
#     interval: 30 # how often make backup in seconds
#     makeBackupBeforePodDeletion: true # make a backup before pod deletion
#   restore:
#     containerName: backup # container name is responsible for restore backup
#     action:
#       exec:
#         command:
#         - /home/user/bin/restore.sh # this command is invoked on "backup" container to make restore backup, for example /home/user/bin/restore.sh <backup_number>, <backup_number> is passed by operator
#     getLatestAction:
#       exec:
#         command:
#         - /home/user/bin/get-latest.sh # this command is invoked on "backup" container to get last backup number before pod deletion. If you don't omit it in CR, you can lose data
#     #recoveryOnce: <backup_number> # if want to restore specific backup configure this field and then Jenkins will be restarted and desired backup will be restored
