name: scala3-community-build

on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v2

      - name: Generate certificates
        run: scripts/generate-secrets.sh 

      - name: Build up base docker image
        run: scripts/build-docker-base.sh      
  
      - name: run demo build
        run: scripts/run-demo-build.sh
